body {
    background-color: #004928;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    background: url("../src/images/main.jpg") no-repeat center fixed;  
    background-size: cover;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.mainBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #a3b18a;
    color:#004928;
    opacity: 0.9;
}

.navigation {
    display: flex;
    gap: 15px;
    background-color: #4d816a;
    width: 100%;
    height: 40px;
    justify-content: center;
}

.navigation a {
    width: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 5px;;
}

.navigation a:hover {
    background-color: #004928;
}

#content img {
    width: 100%;
}

.heading {
    font-size: 40px;
    font-family: 'Merienda One', cursive;
    color: #3A0012;
    padding: 20px;
}

#teaHeading {
    font-size: 30px;
    font-family: 'Merienda One', cursive;
    color: #00351d;

}

.teaHeaders {
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    padding: 10px;
    color: #3A0012;

}

#hoursHeading {
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    color: #3A0012;
}